/* BLACK AND WHITE */
$b-87: rgba(0,0,0,0.87);
$b-54: rgba(0,0,0,0.54);
$b-26: rgba(0,0,0,0.26);
$b-12: rgba(0,0,0,0.12);

$w-100: rgba(255,255,255,1);
$w-70: rgba(255,255,255,0.70);
$w-30: rgba(255,255,255,0.30);
$w-12: rgba(255,255,255,0.12);

/* COLORS */
$gray_background: #FCFCFA;
$gray_text: #979797;
$black_background: #31302E;
$primary-orange: #F39800;
$beige-background: #FCFBF9;
